@import "styles/variables.css";
@import "styles/color-tags.css";
@import "styles/border-tags.css";
@import "styles/font-tags.css";

/* justification classes */

.center {
  margin: 0 auto;
  width: fit-content;
}

/* structural classes */
div.card {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}

/* General Properties */
.passthrough {
  user-select: none;
  pointer-events: none;
}
